[submodule "themes/t-bg"]
	path = themes/t-bg
	url = https://github.com/frnsimoes/hugo-bg
[submodule "themes/tophat"]
	path = themes/tophat
	url = https://github.com/sergiobarriel/tophat-theme.git
[submodule "themes/nosty"]
	path = themes/nosty
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
