<div class="header-container">
  <a href="{{ "" | relURL }}" class="title">
    <h2>{{ .Site.Title }}</h2>
  </a>
  <div class="spacer"></div>
  <div class="right-links">
    <a href="{{ "about" | relURL }}" class="about-me">about</a>
    <!-- <a href="{{ "notes" | relURL }}" class="notes">notes</a> -->
    <a href="{{ "" | relURL }}" class="home">home</a>
  </div>
</div>
My personal notes and bad opinions
<nav>{{- partial "nav.html" . -}}</nav>

<style>
.header-container {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.spacer {
  flex-grow: 1; /* This will push the right-links to the right */
}

.right-links {
  display: flex;
  gap: 10px; /* Espaçamento entre os links */
}
</style>
